.navbar-btn {
  width: 100%;
  border-radius: 0;
  color: #ffffff;
}
.navbar-btn:hover {
  color: #ffffff;
  font-weight: bold;
}
.nav-container {
  margin: 0;
  padding: 0;
}
.mesere {
  background-color:#40B4E6;
}
.cocina {
  background-color: #C8117E;
}
.pedidos {
  background-color: #DF7B01;
}
.logoCat {
  margin-top: 60px;
}
.cat {
  opacity: 20%;
}
.Home{
 
  background:  #40B4E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C8117E, #40B4E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C8117E,  #40B4E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #ffffff;

}
