div.delete-icon {
  text-align: center;
}
.item-text {
  font-style: italic;
  text-align: left;
  padding-left: 20px !important;
  color: #ffffff !important;
}
.count-text {
  color: #ffffff !important;
}
button.delete-btn {
  background: #f04141;
  border-radius: 5px;
  padding: 3px 6px; 
  font-size: 14px;
  border: none;
  color: #ffffff
}
.item-container {
  text-align: center
}