.mesere{
    background-color:#40B4E6;
    
  }
  .cocina{
    background-color: #C8117E;
    
  }
  .pedidos{
    background-color: #DF7B01;
    
 
  }
  .logoCat{
margin-top: 60px;
}
.cat{
    opacity: 20%;
}