.menu-btn-container {
  margin: 5px;
}
.optionMenu{
  background-color:#40B4E6;
  margin: 2px;
  margin-right: 10px;
  padding: 6px 20px;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.optionMenu:hover {
  color: #ffffff;
  background-color: #659CB4;
}
.alert h2{
  color: #DF7B01;
}
.alert h3{
  color: #40B4E6;
}
.alert h5{
  color:#C8117E;
}
.fat-cat-container{
  margin-top: 100px;
  text-align: center
}
.fat-cat-txt{
  font-style: italic;
  color: #C8117E;
}