div.list-container {
  height: 400px;
  color: #ffffff !important;
  background-color: #659CB4;
  border-radius: 20px;
}

div.client-container {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 5.5%;
  margin-bottom: 5.5%;
}
.input-container {
  padding-left: 0 !important;
}
input.input-name {
  margin-top: 5.5%;
  margin-bottom: 5.5%;
  font-style: italic !important;
  color: #ffffff !important;
  background-color: #659CB4 !important;
  width: 100%;
}
::placeholder {
  color: #ffffff !important;
}

i.client-icon {
  font-size: 100%;
}
.price-container {
  margin-top: 5.5%;
  margin-bottom: 5.5%; 
}
.total-text {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: right;
}
h5.total-price {
  margin-top: 2px;
  margin-bottom: 0;
  text-align: center;
}
div.items-list {
  height: 230px;
  overflow: auto;
  background-color: #659CB4;
  padding: 0px;
}
div.name-container {
  background-color: #40B4E6;
}
.enviarACocina{
  background-color: #C8117E;
  color: #ffff;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.enviarACocina:hover {
  color: #ffffff;
  background-color: #902A67;
}
.container-sendBtn{
  text-align: right;
  margin-top: 60px;


}